/Clases/ConceptosBasicos/nbproject/private/
diagramaBD.img
/Tareas/ReutilizacionCodigo2209/nbproject/private/
/Tareas/ReutilizacionCodigo2209/build/
/Tareas/ReutilizacionCodigo2209/dist/
/Clases/ReutilizacionCodigo2209/nbproject/private/
/Clases/ReutilizacionCodigo2209/build/
/Tareas/Tarea Composicion/nbproject/private/
/Tareas/Tarea Composicion/build/
